@charset "Utf-8";

@font-face{
    font-family: "font1";
	src: url("../fonts/Righteous-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%
}

body{
    background: url('../imagens/ceu.jpg');
}

.cabecalho h1{
	font-family: 'Righteous-Regular',sans-serif;
	font-style: italic;
	color: white;
	text-shadow: 3px 3px 10px red;
	text-align: center;
	font-size: 60px;	

}

article p{
	font-family: 'Righteous-Regular', sans-serif;
}

article.artigo1{
	margin-left: 20px;
	width: 600px;
	height: 700px;
	text-align: justify;
	display: block;
	top: 0;
}

article.artigo1 h1{
	font-family: 'arial black',sans-serif;
	letter-spacing: 3px;
	font-style: italic;
	text-align: center;
	font-size: 30px;
	color: white;
	background-color: blue;
	box-shadow: 3px 3px 20px blue ;

}

article.artigo1 h2{
	font-size: 25px;
	color: white;
	text-shadow: 2px 2px black;

}

article img.aviao{
	width: 96%;
	padding: 5px;
	border: 5px solid black;
	top: 20px;
	position: relative;


}